/**
 * Weather Evaluation Tool - Webinterface
 *
 * Written and copyrighted 2014+
 * by Sven Marc 'cybrox' Gehring
 *
 * Licensensed under CC-NC-BY-SA
 */

* { font-family: Tahoma, Arial; }

body {
	margin: 0;
	padding: 0;
	background: url(../images/background.jpg) left top no-repeat;
	background-position: fixed;
	background-size: cover;
}

header,
footer,
#content {
	width: 80%;
	height: auto;
	padding: 10px 10%;
}



/************************************************
** Header
*/
header {
	width: 100%;
	padding: 100px 10%;
	border-bottom: 1px solid #bbb;
}

#pagename {
	color: #000080;
	font-size: 5em;
	font-weight: bold;
	text-shadow: 0 -1px 1px #4F94CD;
}

#notifications { margin-top: 30px; }
#notifications img { vertical-align: text-bottom; }
#notifications strong {
	font-size: 1.6em;
	font-weight: normal;
}

#monthselect {
	margin: 0 0 20px 0;
	padding: 10px 10%;
	text-align: center;
	font-size: 2.1em;
	color: #999;
	background: rgba(255,255,255,0.9);
}

/************************************************
** Content
*/
#contentInner { padding: 20px 10%; }
#content {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 800px;
	background: rgba(255,255,255,0.85);
}

#daydivider {
	width: 100%;
	padding: 7px 0;
	background: #fff;
}

#dayview { display: none; }



/************************************************
** Frontend Framework parts
*/
.break { clear: both; }
.nopadd { padding: 0; }
.nopadd table { margin: 0; }
.nopadd table tr:first-of-type td { border-top: none; }

.doublewrapper .doublebox:first-of-type { padding-left : 0; }
.doublewrapper .doublebox:last-of-type { padding-right : 0; }

.show-blue { background-color: #1c86ee; }
.show-dark { background-color: #473c8b; }

.textblock { text-align: justify; }
.top-spacing { margin-top: 70px; }
.full-size { width: 100%; }
.surr { margin: 0 20px 20px 0; }

/************************************************
** Footer
*/
footer {
	width: 100%;
	background: rgba(255,255,255,0.9);
}

#copyright {
	display: block;
	text-align: center;
	color: #666;
	font-size: 0.8em;
}



/************************************************
** Fancy transitions
*/
.btn, .btn:hover,
#warnings,
#warnings:hover {
	transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
}