/**
 * Weather Evaluation Tool - Webinterface
 *
 * Written and copyrighted 2014+
 * by Sven Marc 'cybrox' Gehring
 *
 * Licensensed under CC-NC-BY-SA
 */

* { font-family: Tahoma, Arial; }

body {
	margin: 0;
	padding: 0;
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header,
#content {
	width: 80%;
	height: auto;
	padding: 10px 10%;
}



/************************************************
** Header
*/
header {
	width: 100%;
	padding: 30px 10%;
}

#pagename .pgns { font-size: 0.6em; }
#pagename {
	color: #eee;
	font-size: 5em;
	text-transform: uppercase;
}

#notifications { margin-top: 30px; }
#notifications img { vertical-align: text-bottom; }
#notifications strong {
	font-size: 1.6em;
	font-weight: normal;
}

#monthselect {
	margin: 0 0 20px 0;
	padding: 10px 1%;
	text-align: center;
	font-size: 1.8em;
	color: #999;
}



/************************************************
** Content
*/
#content {
	width: 80%;
	margin: 10px 10%;
	padding: 0;
	min-height: 800px;
}

#monthview,
#dayview {
	padding: 15px 1%;
}

#dayselect {
	width: 100%;
	padding: 10px 15px;
	background: #f5f5f5;
	margin: 0 0 20px 0;
	padding: 10px 1%;
	font-size: 1.4em;
	color: #999;
}

#monthview .panel,
#monthview .panel-body,
#monthview .panel-heading,
#dayview .panel,
#dayview .panel-body,
#dayview .panel-heading {
	border-color: #f6f6f6;
}

#monthview .panel-heading,
#dayview .panel-heading {
	background: #f8f8f8;
}



/************************************************
** Frontend Framework parts
*/
.break { clear: both; }
.addpadd { padding: 15px; }
.nopadd { padding: 0; }
.nopadd table { margin: 0; }
.nopadd table tr:first-of-type td { border-top: none; }

.doublewrapper .doublebox:first-of-type { padding-left : 0; }
.doublewrapper .doublebox:last-of-type { padding-right : 0; }

.show-blue { background-color: #1c86ee; }
.show-dark { background-color: #473c8b; }

.textblock { text-align: justify; }
.top-spacing { margin-top: 70px; }
.full-size { width: 100%; }
.surr { margin: 0 20px 20px 0; }

.form-control {
	display: inline;
	width: auto;
}

#loader {
	position: fixed;
	bottom: 10px;
	left: 10px;
}



/************************************************
** Footer
*/
footer {
	margin-top: 50px;
	padding: 5px 0;
}

#copyright {
	display: block;
	text-align: center;
	color: #666;
	font-size: 0.8em;
}



/************************************************
** Fancy transitions
*/
.btn, .btn:hover,
#warnings,
#warnings:hover {
	transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
}